.demo-content
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    table, caption, tbody, tfoot, thead, tr, th, td
        margin: 0
        padding: 0
        border: 0
        font-size: 100%
        font: inherit
        vertical-align: baseline

        ol, ul {
            list-style: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        tr:nth-child(2n) {
            background-color: inherit;
        }

.el-picker-panel
    table, caption, tbody, tfoot, thead, tr, th, td
        border: 0
    tbody, tfoot, thead
        width: 100%
    table
        margin: inherit
        border-collapse: collapse
        border-spacing: 0
    tr:nth-child(2n) {
        background-color: inherit;
    }
  

.demo-block
    .description
        padding: 10px !important

.sidebar
    font-size: 14px