@import "./common/variables.scss";
@import "./common/mixin.scss";

$wrapPaddingLeftRight: 15px;
$bem: gz-dialog;

.#{$bem} {
  border-radius: $dialogBorder !important;
  overflow: hidden;

  &_fullscreen {
    border-radius: 0 !important;
    &.el-dialog {
      margin: 0;
    }
  }
  &_middle {
    top: 50%;
    transform: translateY(-50%) !important;
  }
  &-body {
    box-sizing: border-box;
    margin-bottom: 0 !important;
    padding: 0 $wrapPaddingLeftRight 8px;
    overflow-x: hidden;
    @include scrollBar;
  }
  &-title {
    padding: 15px 0;
    font-size: 18px;
    &_left,
    &_right {
      display: inline-block;
      vertical-align: middle;
    }
    &_right {
      float: right;
    }

    .icon {
      margin-left: 10px;
      width: 14px;
      font-size: 16px;
      color: #bbb;
      cursor: pointer;
      &:hover {
        color: $dialogIconHoverColor !important;
      }
    }
  }
  &-footer {
    padding: 8px 0;
  }

  .el-dialog {
    &__header {
      padding: 0 $wrapPaddingLeftRight;
    }
    &__body {
      padding: 0;
    }
    &__footer {
      padding: 0 $wrapPaddingLeftRight;
      background: rgba(245, 245, 245);
    }
  }
}
@each $v in $dialogWidthTypes {
  $i: index($dialogWidthTypes, $v);
  .#{$bem}_#{$v} {
    max-width: nth($dialogWidthMaxRange, $i);
  }
}
