@import "./common/variables.scss";
@import "./common/mixin.scss";

$wrapPaddingLeftRight: 15px;
$bem: gz-dialog;

.#{$bem} {
  border-radius: $dialogBorder !important;
  overflow: hidden;

  &_fullscreen {
    border-radius: 0 !important;
    &.el-dialog {
      margin: 0;
    }
  }
  &_middle {
    top: 50%;
    transform: translateY(-50%) !important;
  }
  &-body {
    margin-bottom: 0 !important;
    padding: 0 15px;
    overflow-x: hidden;
    @include scrollBar;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;

    .icon {
      margin-left: 10px;
      width: 14px;
      font-size: 16px;
      color: #bbb;
      cursor: pointer;
      &:hover {
        color: $dialogIconHoverColor !important;
      }
    }
  }

  .el-dialog {
    &__header {
      padding: 15px $wrapPaddingLeftRight;
    }
    &__body {
      padding: 5px;
    }
    &__footer {
      padding: 8px $wrapPaddingLeftRight;
      background: rgba(245, 245, 245);
    }
  }
}
@each $v in $dialogWidthTypes {
  $i: index($dialogWidthTypes, $v);
  .#{$bem}_#{$v} {
    max-width: nth($dialogWidthMaxRange, $i);
  }
}
